@keyframes changeShadow1 {
    from {box-shadow:8px 10px  #e5a3ff ;}
    to {box-shadow:0 0 }
}
@keyframes changeShadow2{
    from {box-shadow:8px 10px  #ffd900 ;}
    to {box-shadow:0 0 }
}
@keyframes changeShadow3 {
    from {box-shadow:8px 10px  #80fdc9bd ;}
    to {box-shadow:0 0 }
}
@keyframes changeShadow4 {
    from {box-shadow:8px 10px  #ff531fc5 ;}
    to {box-shadow:0 0 }
}
.Main_container2 Link{
    width:300%;
 }
.Main_container2
{
    margin-top:9.2%;
}

.Main_container2_text{
    font-family: "Roboto";
    font-size: 300%;
    margin-bottom: 0%;
    text-align: center;
}
.Main_container2_rectangles{
    display: flex;
    flex-direction: row;
   align-items: center;
   margin: 3% 0 0 7.1%;
   gap:2.65%;
   width: 90%;
}
.Main_container2_rectangles.nolog{
    display: none;
}
.Main_container2_rectangles img{
    width: 100%;
}
.Main_container2_rectangle1{
    width:21.3%;
    border: 2px solid #E9672B;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #e5a3ff ;
    cursor: pointer;
    
}
.Main_container2_rectangle1:hover{
    animation: changeShadow1 1s ease;
}
.Main_container2_rectangle2{
    width:21.3%;
    border: 2px solid #225DCA;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #ffd900 ;
    cursor: pointer;    
}
.Main_container2_rectangle2:hover{
    animation: changeShadow2 1s ease;
}
.Main_container2_rectangle3{
    width:21.3%;
    border: 2px solid #242947;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #80fdc9bd ;
    cursor: pointer;
}
.Main_container2_rectangle3:hover{
    animation: changeShadow3 1s ease;
}
.Main_container2_rectangle4{
    width:21.3%;
    border: 2px solid #DE4333;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #ff531fc5 ;
    cursor: pointer;
}
.Main_container2_rectangle4:hover{
    animation: changeShadow4 1s ease;
}
.Main_container2_rectangle1 p{
    margin-top: 5%;
}
.Main_container2_rectangle2 p{
    margin-top: 5%;
}
.Main_container2_rectangle3 p{
    margin-top: 5%;
}
.Main_container2_rectangle4 p{
    margin-top: 5%;
}