footer{
    background-color: #F3F0EC;
    margin-top:9.8% ;
    display: flex;
    flex-direction: column;
    gap:2%;
}
.footer_container{
    padding:4.85% 0 0 6.2%;
    display:flex;
    flex-direction: row;
    gap:13.8%;
    width: 60%;
}
.Furniture{
    display: flex;
    flex-direction: column;
}
.Furniture p{
    font-family: "Roboto";
    font-size:114%;
}
.Furniture a{
    font-family: "Roboto";
    font-size:100%;
    text-decoration: none;
    color:black;
    padding: 9% 0 4.5% 0;
}
.About{
    display: flex;
    flex-direction: column;
}
.About p{
    font-family: "Roboto";
    font-size:114%;
}
.About a{
    font-family: "Roboto";
    font-size:100%;
    text-decoration: none;
    color:black;
    padding: 5% 0 4% 0;
}
.Help{
    display: flex;
    flex-direction: column;
    margin:0.5% 0 0 0.5%;
}
.Help p{
    font-family: "Roboto";
    font-size:100%;
}
.Help a{
    font-family: "Roboto";
    font-size:100%;
    text-decoration: none;
    color:black;
    padding: 9.5% 0 1% 0;
}
.footer_right_container{
    width: 40%;
    margin:6% 14.9% 0 0;
}
.Social_media p{
    font-family: "Roboto";
    font-size:114%;
    margin:0.9% 0 0 0.05%;
}
.Social_media_img{
    display: flex;
    flex-direction: row;
    gap: 4.1%;
    margin-top:6.2% ;
}
.Social_media_img img:hover{
    animation: socialinvert 1s ease;
    border-radius: 50px;
}
.NEWSLETTER{
    margin-top:14% ;
}
.NEWSLETTER p{
    font-family: "Roboto";
    font-size:114%;
    border-bottom: 2px solid black;
    padding-bottom: 15.5%;
    width: 75.5%;
}
.window{
    margin: 41.8% 0 0 115.5%;
    padding-bottom: 20%;
}
.footer_and_contact{
    display: flex;
    flex-direction: row;
}
.Contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1%;
}
.Contact_info a,p{
    font-family: roboto;
    font-size: 120%;
    text-decoration: none;
    color:black;
    margin: 0;
}